<style>
.signup-main{
	width:27%;
}
.signup-head{
	min-height: 100px;
}
.signup-head h1{
	font-size:2em;
	color:none;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
</style>

<div class="page-container" ng-controller="userCtrl">	
   <div ng-show="loadview" id="load" style="color:red">Please wait loading...</div>
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		    <div>
				<div my-customer></div>
			</div>
				
	
	<!--inner block start here-->
	  		
	<div class="signup-page-main">
            <!---728x90--->
        
		    <div class="login-logo" ng-show="petsuccessmsg" style="margin-top: 20px;">
		  		<div class="alert alert-success">
		  			<strong>Successfully Registered!</strong> 
		  		</div>
		    </div>
		    <div class="signup-head">   <!-- style="background: url(https://p.w3layouts.com/demos/28-03-2016/shoppy/web/images/login.jpg)" -->
                 <h1>Pet Registration</h1>
            </div>
            
            <div class="signup-main">
                <div class="login-form" >
                    <form id="property" id="petform" name="petform" novalidate>
                    	<div class="form-group">
                             <label>Device Id</label>
                             <input type="text" name="deviceid" ng-model="uid" class="form-control" placeholder="device id" ng-keydown="removeTagOnBackspace($event)"  required/>
                             <span style="color:red" ng-show="submitted == true && petform.deviceid.$error.required">Please Enter the Deviceid.</span>
                              <span ng-show="duplicateid" style="color:red">Already exist this device id.Please enter new one</span>
                        </div>
                    	<div class="form-group">
                            <label>Animal Category</label>
                            <select name="getpet" ng-model="getpetlist" class="form-control" required>
                               <option value="" selected>select your pet</option>
                               <option ng-repeat="getpetlist in getpetcategory">{{getpetlist.x}}</option>
                            </select>
                            <span style="color:red" ng-show="submitted == true && petform.getpet.$error.required">Please select the pet category.</span>
                           
                        </div>
                        <div class="form-group">
                             <label>Name</label>
                             <input type="text" name="petname" ng-model="petname" class="form-control" placeholder="Name" required/>
                             <span style="color:red" ng-show="submitted == true && petform.petname.$error.required">Please enter the pet name.</span>
                        </div>
                        <div class="form-group">
                             <label>gender select</label>
                             <select name="gender" ng-change="genderclk()" ng-model="petgender" class="form-control" required>
                               <option value="" selected>select the gender</option>
                               <option value="Male">Male</option>
                               <option value="Female">Female</option>
                            </select>
                            <span style="color:red" ng-show="submitted == true && petform.gender.$error.required">Please select the gender.</span>
                        </div>
                        <div class="form-group">
                             <label>Number Of Child Pet</label>
                             <select name="countpet" ng-model="childpet" class="form-control" required>
                               <option value="No">No</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                            </select>
                            <!-- <span style="color:red" ng-show="submitted == true && petform.gender.$error.required">Please select the Number of Child pet.</span> -->
                        </div>
                        <div class="form-group">
                             <label>Location</label>
                             <input id="address" name="location" type="text" ng-model="address" class="form-control" placeholder="location" required/>
                             <span style="color:red" ng-show="submitted == true && petform.location.$error.required">Please Enter the address.</span>
                        </div>
                        <div class="form-group">
                             <label>Age</label>
                             <input type="text" ng-model="age" class="form-control" placeholder="age" name="petage" required/>
                             <span style="color:red" ng-show="submitted == true && petform.petage.$error.required">Please enter the pet age.</span>
                        </div>
                        <input type="hidden" value="{{userid}}" class="form-control" placeholder="cid">
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" ng-click="savepet(submitted=true)">Registration</button>
                        
                        
                    </form>
                </div>
            </div>
        </div>
<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>
