<style>
	#floating-panel {
       
        /* top: 10px; */
        /* left: 25%; */
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
</style>
<div class="page-container" ng-controller="mapCtrl">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		    <div>
				<div my-customer></div>
			</div>
			<br>
			
			<div ng-show="createcircle">
				<div class="container">
				   <div class="row">
					   	<div class="col-md-6">
							<div id="floating-panels">
					          	<!-- <b>Category of Animals: </b>
					          	<select name="categorypet" ng-change="getanimal(getpetlist.animal_category)" ng-options="getpetlist.animal_category as getpetlist.animal_category for getpetlist in uniques" ng-model="getpetlist.animal_category" class="form-control"   ng-required="true">
								       <option>--Select the pet--</option>
								</select>
							    <br> -->
							    <label>Location </label>
								<input type="text" ng-model="locate" class="form-control" id="locate"/>
				            </div>
			            </div>
		            
			            <div class="col-md-6">
			            	<!-- <label>Pet Name<span style="color:red">*</span></label>
							<select ng-change="getanimalname(getname.animal_name)" name="petname"  ng-options="getname.animalid as getname.animal_name for getname in getindividuallist" ng-model="getname.animal_name" class="form-control" required>
							     <option>--select the name--</option>
							</select> <br> -->
							<label>KM</label>
							<select ng-change="getmeter(getkm)" class="form-control" ng-model="getkm" required>
							     <option value="1">1</option>
							     <option value="2">2</option>
							     <option value="3">3</option>
							     <option value="4">4</option>
							     <option value="5">5</option>
							</select><br>						
			            </div>
			            
			            <div class="col-md-6">
			            	<b>Press Submit to Save Boundary Range: </b>
					    	<button type="button" id="save_boundary" ng-click="setcircle()" class="btn btn-info">Submit</button><br>
					    </div>
					    <div class="col-md-6">
			            	<button style="float: right;" type="button" ng-click="viewcircle()" class="btn btn-info">View Circle</button><br>
					    </div>
		           </div>
	            </div>

				<div class="container">
				   	<div class="row">
			            <div class="geo-chart">
						   <section id="charts1" class="charts">
							   	<div id="floating-panel">
							   	 <div><button type="button" ng-click="viewmapcircle()" class="btn btn-info">View Map</button></div>
							     <!-- <div class="col-md-6"><button type="button" style="float: left;" ng-click="removeLine()" class="btn btn-info">Remove Circle</button></div> -->
	     					    </div>
	     					    <div class="col-md-12">
								<div id="createcirclemap" style="height: 600px">	
								    <h3>Create Pet Circle location</h3>
								    <div id="geoChart" class="chart"> </div>
								</div>
								</div>
						   </section>				
					    </div>
				 	</div>
			   </div>
		   </div>
		   
		   <div ng-show="viewcircles">
			   <div class="container">
		          <div class="row">
		          	<div ng-click="backtocircle()" >
						<button class="btn btn-info" >Create Circle</button>
					</div>
		          </div>
		       </div>
		       <br>
			   <div class="container">
			   	  	<div class="row">
			            <div class="geo-chart">
						   <section id="charts1" class="charts">
								<div id="viewcircle" style="height: 600px">	
								    <h3>View the circle</h3>
								</div>
						   </section>				
					    </div>
				 	</div>
			   </div>
		   </div>
			
		   
			
			
    <!-- <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5UDgEy_bwbihfvYoTRvcX-aCUDITol14&callback=initMap"></script> -->
	<!--inner block start here-->
	<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>
