<div class="page-container" ng-controller="userCtrl">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		    <div>
				<div my-customer></div>
			</div>
						
			<div class="signup-page-main">
		            <div class="col-md-12 chart-layer1-left"> 
					<h3>Pet Details</h3></br>
		           		<div class="work-progres">
		                	<div class="table-responsive">
		                     <table class="table table-striped table-condensed table-hover">
		                          <thead>
		                            <tr>
		                              <th>#</th>
		                              <th>Pet Category</th>
		                              <th>Pet Name</th>                                   
		                              <th>Address</th>
		                              <th>Age</th>
		                              <th>UID</th>
		                              <th>Pet Details</th>
		                            </tr>
		                          </thead>
		                          <tbody>	
		                              <tr ng-repeat="item in getsearchpetlist | filter:searchpet"> <!-- getanimallist -->
			                              <td>{{$index+1}}</td>
			                              <td>{{item.animal_category}}</td>
			                              <td>{{item.animal_name}}</td>                                 
			                              <td>{{item.address}}</td>
			                              <td>{{item.age}}</td>
			                              <td>{{item.uid}}</td>
			                              <td><button class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" ng-click="getpethistory(item.animalid)">View</button></td>
		                              </tr>
		                          </tbody>
		                     </table> 
		                     
		                     <!-- <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm"></pagination> -->
		                     <!-- <div data-pagination="" data-num-pages="numOfPages()" 
							      data-current-page="curPage" data-max-size="maxSize"  
							      data-boundary-links="true"></div>   -->           
		                 </div>
		               
		                 <div class="pagination_area" ng-show="viewpagi" style="margin-top: 0px">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
				                   <li class="page-item" ng-class="{disabled: currentPage == 0}"><a href ng-click="prevPage()"><i class="fa fa-angle-double-left"></i> Prev</a></li>
				                   <li class="page-item" ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
				                       <a href ng-bind="n + 1" style="color: #374f45"></a>
				                   </li>
				                   <li class="page-item" ng-class="{disabled: currentPage == pagedItems.length - 1}"><a href ng-click="nextPage()">Next <i class="fa fa-angle-double-right"></i></a></li>
		                       	</ul>
							</nav>
					 	</div>
		             </div>
				</div>
			</div>
		    
			<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>
	<!--COPY rights end here-->
	</div>
  </div>
	<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>
