      <div class="page-container" ng-controller="userCtrl">
            <div class="left-content">
                <div class="mother-grid-inner">
                    <!--header start here-->
                     <div>
						<div my-customer></div>
					</div>
             
                
                
                <!--heder end here-->
                <!-- script-for sticky-nav -->
                <!-- <script>
                    $(document).ready(function() {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function() {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script> -->
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">
                    <div class="inbox">
                        <!---728x90--->

                        <h2>Customer and their Animal Details</h2>
                        <!---728x90--->

                        <div class="col-md-4 compose" ng-repeat="cdetails in getuser | limitTo : 1">
                            <div class="mail-profile">
                                <div class="mail-pic">
                                    <a href="#"><img src="./images/mannewicon.png" style="width: 90px;height: 90px;" alt=""></a>
                                </div>
                                <div class="mailer-name">
                                    <h5>{{cdetails.customer_name}}</h5>
                                    <h6>{{cdetails.customer_email}}</h6>
                                    <h5>{{cdetails.customer_phone}}</h5>
                                    <h5>{{cdetails.customer_street}}</h5>
                                    <h5>UId: {{cdetails.uid}}</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-8 mailbox-content  tab-content tab-content-in">
                            <table class="table table-bordered">
								<thead>
									<tr>
										<th>Animal Category</th>
										<th>Animal Name</th>
										<th>Age</th>
										<th>Gender</th>
										<th>UID</th>
										<th>Location</th>
										<th>disease Status</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="getpet in getanimallist">
										<td>{{getpet.animal_category}}</td>
										<td>{{getpet.animal_name}}</td>
										<td>{{getpet.age}}</td>
										<td>{{getpet.gender}}</td>
										<td>{{getpet.uid}}</td>
										<td>{{getpet.address}}</td>
										<td>{{getpet.disease_range}}</td>
									</tr>
								</tbody>
					  		</table>
                        </div>
                        
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <!--inner block end here-->
                <!---728x90--->

                <!--copy rights start here-->
                <div id="footer" ng-include="'./ng-view/common/footer.html'"></div>
                <!--COPY rights end here-->
            </div>
            </div>
<div id="header" ng-include="'./ng-view/common/header.html'"></div>
            <div class="clearfix"> </div>
        </div>
        