<style>
	.activeState{
			color:#F2B33F !important;	
		  }
</style>
<div class="sidebar-menu">
 	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span></a></div>		  
	<div class="menu" ng-controller="docCtrl">
	     <ul id="menu">  
	       <li id="menu-home"><a ui-sref="doctordashboard({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
	       <li><a ui-sref="customerdetails({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-user" aria-hidden="true"></i><span>Customer Details</span></a></li>
	       <li><a ui-sref="doctor-petchart({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-pie-chart" aria-hidden="true"></i>Animals Statistics</a></li>
	       <li><a ui-sref="medical-event({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-calendar" aria-hidden="true"></i>Events Registration</a></li>
	       <li><a ui-sref="medicaldetails({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-user" aria-hidden="true"></i><span>Medical Supplier</span></a></li>
	       <li><a ui-sref="medappointmentlist({doctorid:docid})" ui-sref-active="activeState"><i class="fa fa-envelope" aria-hidden="true"></i>Med-Supplier Appointment Details</a></li>
	     </ul>
    </div>
</div>