 <div ng-controller="regCtrl" class="sufee-login d-flex align-content-center flex-wrap" style="background:#343a40!important;height: 1043px">
        <div class="container">
            <div class="login-content" >
                <div class="login-logo">
                    <h4 href="index.html" style="color: azure">
                        Seller Registration
                    </h4>
                </div>
                <div class="login-form">
                    <form name="Ecomregistration">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" ng-model="ecomname" placeholder="Enter Your Name" required>
                            <span>
                            <span style="color:red" ng-show="Ecomregistration.name.$dirty && Ecomregistration.name.$invalid">
                             <span ng-show="Ecomregistration.name.$error.required">Enter Your Name.</span>
                            </span>
                        </div>
                        
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" ng-model="ecomaddress" name="address" placeholder="Enter Your Address" required>
                            <span>
                            <span style="color:red" ng-show="Ecomregistration.address.$dirty && Ecomregistration.address.$invalid">
                             <span ng-show="Ecomregistration.address.$error.required">Enter Your Address.</span>
                        </span>
                        </div>
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="text" class="form-control" name="phone" ng-model="ecomcontactno" placeholder="Enter Your Phoneno" required>
                            <span></span>
                            <span style="color:red" ng-show="Ecomregistration.phone.$dirty && Ecomregistration.phone.$invalid">
                             <span ng-show="Ecomregistration.phone.$error.required">Enter Your Phoneno.</span>
                          </span>
                        </div>
                        
                        <div class="form-group">
                            <label>Shopname</label>
                            <input type="text" class="form-control" ng-model="ecomshopname" name="shopname" placeholder="Enter Your Shopname" required>
                            <span>
                            <span style="color:red" ng-show="Ecomregistration.shopname.$dirty && Ecomregistration.shopname.$invalid">
                             <span ng-show="Ecomregistration.shopname.$error.required">Enter Your Shopname.</span>
                          </span>
                        </div>
                        
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" ng-model="$parent.ecomemail" ng-pattern="eml_add" name="ecommail" placeholder="Enter Email address" required validate-Email>
                        <span>
                            <span style="color:red" ng-show="Ecomregistration.ecommail.$dirty && Ecomregistration.ecommail.$invalid">
                             <span ng-show="Ecomregistration.ecommail.$error.required">Enter Email address.</span>
                             <span ng-show="Ecomregistration.ecommail.$error.pattern">Invalid Email</span>
                             <span ng-show="Ecomregistration.ecommail.$error.validEmail">Email already exist.</span>
                          </span>
                        </div>
                        <div class="form-group">	
                            <label>Password</label>
                            <input type="password" class="form-control" name="ecompassword" ng-model="ecompassword" placeholder="Enter the password" required>
                         <span>
                            <span style="color:red" ng-show="Ecomregistration.ecompassword.$dirty && Ecomregistration.ecompassword.$invalid">
                            <span ng-show="Ecomregistration.ecompassword.$error.required">Enter the password</span>
                          </span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" ng-init='ecomreg();' class="form-control"  value="{{typeofreg}}"  placeholder="Password" required>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" ng-click="saveecomreg()" style="display: block;">Register</button></br>
                      <!--   <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30" >Back to Login</button> -->
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href ng-click="prevlogin()"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
            </div>
  </div>
