<style>
	.bckimg{
	  background-image: url("./images/bricks-bckground.jpg");
	}
	.fontmsg{
		font-size: 14px;
	}
	#load{
	    width:100%;
	    height:100%;
	    position:fixed;
	    z-index:9999;
	    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25);
	}
</style>
<div ng-controller="docCtrl" class="sufee-login d-flex align-content-center flex-wrap bckimg" style="height: 1000px"> <!-- background:#343a40!important; -->
		
		<div ng-show="loadview" id="load" style="color:red">Please wait loading...</div>
	   	<div class="container" ng-show="successmsg">	
	        <div class="login-logo" style="margin-top: 20px;">
			 	<div class="alert alert-success">
			  		<strong>Successfully Registered!</strong> 
			  	</div>
			</div>
	  	</div>
		<div class="container" id="getdoctor">	
            <div class="login-content" >
                <div class="login-logo">
                    <h4 href="index.html" style="color: azure">
                        Veterinary Doctor Registration
                    </h4>
                </div>
                <div class="login-form">
                    <form id="vetdocform" name="vetdocform">
                        <div class="form-group">
                            <label>Doctor Name<span style="color:red">*</span></label>
                            <input type="text" name="docname" class="form-control" ng-model="docname" placeholder="enter the name" required/>
                            <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.docname.$error.required">Please Enter the Doctor Name.</span>
                        </div>
                        <div class="form-group">
                            <label>Contact No</label>
                            <input type="text" name="contactno" class="form-control" ng-model="docphoneno" placeholder="enter the phoneno" required/>
                            <!-- <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.contactno.$error.required">Please Enter the Phoneno.</span> -->
                        </div>
                        <div class="form-group">
                            <label>Email address<span style="color:red">*</span></label>
                            <input type="email" name="docemail" class="form-control" ng-model="docemail" placeholder="enter the mail" required/>
                            <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.docemail.$error.required">Please Enter the mail.</span>
                        </div>
                        <div class="form-group">
                            <label>Password<span style="color:red">*</span></label>
                            <input type="password" name="pwd" ng-model="pwd" class="form-control" placeholder="enter the password" required/>
                            <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.pwd.$error.required">Please Enter the Password.</span>
                        </div>
                        
                        <!-- Changed name as street instead location for latitude,lng and get to nearest doctor list -->
                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" id="address" name="location" class="form-control" ng-model="address" placeholder="enter the street" required/>
                            <!-- <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.location.$error.required">Please Enter the street.</span> -->
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="city" name="city" class="form-control" ng-model="city" placeholder="enter the city"/>
                            <!-- <span style="color:red" class="fontmsg" ng-show="submitted == true && vetdocform.city.$error.required">Please Enter the City.</span> -->
                        </div>
                         <input type="hidden" ng-init='docreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" style="display: block;" ng-click="savedocreg(submitted=true)">Register</button></br>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="#"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
            </div>
       </div>